@using Microsoft.AspNetCore.Razor.Language.Extensions
@model IEnumerable<ClasaModel>

@{
    ViewData["Title"] = "Clasa";
}


<!DOCTYPE html>

<html>
<head>
    <title>Clasa</title>

</head>
<body>
<h1>@ViewBag.clasa</h1>
<tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailAddress)
            </td>
        </tr>
    }
</tbody>
</body>
</html>