@using Microsoft.AspNetCore.Razor.Language.Extensions
@model IEnumerable<ClasaModel>

@{
    ViewData["Title"] = "Clasa";
}


<!DOCTYPE html>

<html>
<head>
    <title>Clasa</title>

</head>
<body>

    <div class="container">
        <h1>@ViewBag.clasa</h1>
        <table class="table table-bordered">
            <tr>
                <th>Prenume</th>
                <th>Nume</th>
                <th>Clasa</th>
                <th>Email</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @item.FirstName
                    </td>
                    <td>
                        @item.LastName
                    </td>
                    <td>
                        @item.Class
                    </td>
                    <td>
                        @item.EmailAddress
                    </td>
                    <td><a asp-action="StudentDetail" asp-route-id="@item.Id">Detalii</a></td>

                </tr>
            }
        </table>
    </div>
 
</body>
</html>