@using Microsoft.AspNetCore.Razor.Language.Extensions
@model IEnumerable<ClasaModel>

@{
    ViewData["Title"] = "Clasa";
}


<!DOCTYPE html>

<html>
<head>
    <title>Clasa</title>
    <link rel='stylesheet' type='text/css' href="/css/clasaDetail.css" media="all">
</head>
<body>

<div class="container">
    <h1>@ViewBag.clasa</h1>
    <hr/>
    <div class="detaliiClasa">
        <div class="titlu">
            <p>Nume</p>
            <p>Medie</p>
            <p>Detalii</p>
        </div>
        @foreach (var item in Model.OrderBy(model => model.LastName))
        {
            <div class="continut">
                <p>
                    @item.LastName @item.FirstName
                </p>
                <p>
                    @item.Medie
                </p>
                <p><a asp-action="StudentDetail" asp-route-id="@item.Id">🔍</a></p>
            </div>


        }
        <div class="homeworkButtons">
            <a asp-action="GridExercice" asp-controller="Class" asp-route-id="@ViewBag.clasa" id="Class">Adaugă grilă </a>
            <a asp-action="Exercice" asp-controller="Class" asp-route-id="@ViewBag.clasa" id="Class">Adaugă exercițiu</a>
            <a asp-action="Problem" asp-controller="Class" asp-route-id="@ViewBag.clasa" id="Class">Adaugă problemă</a>
        </div>

    </div>
  
</div>


 
</body>
</html>