@using Microsoft.AspNetCore.Razor.Language.Extensions
@model LetsLearn.ViewModels.StudentDetailViewModel

<!DOCTYPE html>

<html>
<head>
    <link rel='stylesheet' type='text/css' href="/css/detail.css" media="all">
    <link href="https://fonts.googleapis.com/css?family=Fontdiner+Swanky" rel="stylesheet">
    <title>Detalii despre @Html.DisplayFor(model => model.student.FirstName)</title>
</head>
<body>
<div class="pagina">
    <div class="submeniu">

        
        <a id="backButton" asp-action="Clasa">🠸</a>
        
        <h2 id="titlu">Let's Learn <strong>MATH</strong></h2>
        <div class="butoane">
            <a asp-action="StudentDetail" asp-route-id="@Html.ViewData.Model.student.Id">Detalii despre  @Html.DisplayFor(model => model.student.FirstName)</a>
            <a asp-action="SeeExercices" asp-route-id="@Html.ViewData.Model.student.Id">Vezi exercițile rezolvate</a>
            <a asp-action="SeePoints" asp-route-id="@Html.ViewData.Model.student.Id">Vezi punctajele</a>
            <a asp-action="AddGrade" asp-route-id="@Html.ViewData.Model.student.Id">Adaugă o nota</a>
            <a asp-action="SendEmail" asp-route-id="@Html.ViewData.Model.student.Id">Trimite un email</a>
        </div>
    </div>
    <div class="pozaProfil">
        <img src="@Html.DisplayFor(model=> model.student.Image)"/>
    </div>

    <div class="detaliiStudent">

        <h3><strong>Detalii despre</strong> @Html.DisplayFor(model => model.student.LastName) @Html.DisplayFor(model => model.student.FirstName)</h3>
        <hr/>
    
        <table id="Infos">

        <tr>
            <th id="Left">Nume:</th>
            <td>@Html.DisplayFor(model => model.student.LastName)</td>
        </tr>
        <tr>
            <th id="Left">Prenume:</th>
            <td>@Html.DisplayFor(model => model.student.FirstName)</td>
        </tr>
        <tr>
            <th id="Left">Email:</th>
            <td> @Html.DisplayFor(model => model.student.EmailAddress) </td>
        </tr>

        <tr>
            <th id="Left">Medie:</th>
            <td> @Html.DisplayFor(model => model.student.Medie) </td>
        </tr>
    </table>
    
    
    


    </div>



</div>
</body>
</html>
