@using System.Reflection.Metadata
@using Microsoft.AspNetCore.Razor.Language.Extensions
@model LetsLearn.ViewModels.StudentHomeworksViewModel
<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' type='text/css' href="/css/homeworks.css" media="all">
    <link href="https://fonts.googleapis.com/css?family=Fontdiner+Swanky" rel="stylesheet">
    <title>Detalii despre teme</title>
</head>
<body>
<div class="pagina">
    <h1 id="title">Teme rezolvate</h1>
            @foreach (var item in Model.students)
            {
                <div class="student">
                <div class="seePointsTitle">
                    <h3>
                        <strong> @item.FirstName @item.LastName </strong>
                    </h3>
                </div>
                <hr/>

                @foreach (var homework in @item.homeworks)
                {
                    <div class="exercice"> 
                    <h4 class="homeworkTitle">✪ @homework.HomeworkTitle </h4>
                        <h5 class="homeworkContainer"> @homework.HomeworkContainer</h5>
                        <div class="notare">
                            <ul class="variante">

                                <li style="color:#f00;">Răspunsul studentului: @homework.StudentAnswer</li>
                                <li style="color: #00ff00">Răspunsul corect: @homework.CorrectAnswer</li>

                            </ul>
                            <div class="adauga">
                                <form>
                                    <p>Adaugă o notă</p>
                                    <select>
                                        <option></option>
                                        @for (var i = 1; i < 11; i++)
                                        {
                                            <option>@i</option>
                                        }
                                    </select>
                                    <button class="butonAdaugaSubmit" type="submit" data-clasa="@item.clasa" data-idstudent="@item.Id" data-idhomework="@homework.Id" data-week="@homework.Week">Adaugă</button>
                                </form>
                            </div>
                        </div>
                    </div>
                }
                </div>
            }

     

</div>

<script>
    var butoane = document.querySelectorAll(".butonAdaugaSubmit");
    for (buton of butoane) {

        buton.addEventListener("click",
            (function(buton) {
                return function(e) {
                    console.log(buton.dataset.idstudent,
                        buton.dataset.week,
                        buton.dataset.idhomework);
                    var xhttp = new XMLHttpRequest();
                    xhttp.open("POST", buton.dataset.clasa, false)
                    xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                    var select = buton.parentElement.querySelector("select");
                    xhttp.send("studentId=" +
                        buton.dataset.idstudent +
                        "&homeworkId=" +
                        buton.dataset.idhomework +
                        "&value=" +
                        select.options[select.selectedIndex].text +
                        "&week=" +
                        buton.dataset.week);
                }
            })(buton));

    }
</script>

</body>

</html>
