@model TeacherModel
@{
    ViewData["Title"] = "Teacher";
}

<!DOCTYPE html>

<html>
<head>
    <title>Teachert</title>
    <link rel='stylesheet' type='text/css' href="/css/profile.css" media="all">
</head>
<body>
<h1>Bine ati venit, @Html.DisplayFor(Model => Model.FirstName) @Html.DisplayFor(Model => Model.LastName) </h1>
<hr/>
<div class="teacher-data">
    <img src="@Html.DisplayFor(Model=>Model.Image)"/>
        <ul class="teacher-infos container">
            <li>
                <strong>Nume:</strong> @Html.DisplayFor((Model=>Model.LastName))
            </li>
            <li>
                <strong> Prenume:</strong> @Html.DisplayFor(Model => Model.FirstName)
            </li>
            <li>
                <strong>Email:</strong> @Html.DisplayFor(Model => Model.EmailAddress)
            </li>
            <li>
                <strong>Nume de utilizator:</strong> @Html.DisplayFor(Model=>Model.UserName)
            </li>
        </ul>

</div>

<form method="post" asp-controller="Users" asp-action="Choose_class">
    <input type="submit" value="clasa I A" asp-for="clasa"/>
    <input type="submit" value="clasa I B" asp-for="clasa"/>
    <input type="submit" value="clasa a II-a A" asp-for="clasa"/>
    <input type="submit" value="clasa a II-a B" asp-for="clasa"/>
    <input type="submit" value="clasa a III-a A" asp-for="clasa"/>
    <input type="submit" value="clasa a III-a B" asp-for="clasa"/>
    <input type="submit" value="clasa a IV-a A" asp-for="clasa"/>
    <input type="submit" value="clasa a IV-a B" asp-for="clasa"/>
    
  
</form>

</body>
</html>
